{%extends 'core/base.html'%}
{%block title%}Home {%endblock%}

{%block content%}
<h1>posts</h1>
{%for post in posts%}
    <h2>{{post.titulo}}</h2>
    <p>{{post.conteudo}}</p>

    {% if post.imagem %}
    <img src="{{post.imagem.url}}" width="300">
    {% endif %}
{%empty%}
    <p>Nenhum post encontrado</p>
{%endfor%}
<hr>
<div>
    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">← Anterior</a>
    {% endif %}

    <span>
        Página {{ posts.number }} de {{ posts.paginator.num_pages }}
    </span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Próxima →</a>
    {% endif %}
</div>
{%endblock %}